*.pyc
Adaptive-RAG/.DS_Store
Adaptive-RAG/raw_data/
Adaptive-RAG/processed_data/
Adaptive-RAG/predictions/
Adaptive-RAG/data/
Adaptive-RAG/outputs/
Adaptive-RAG/instantiated_configs/
# official_evaluation/
Adaptive-RAG/official_evaluation_/
Adaptive-RAG/case_study/
Adaptive-RAG/cache/
Adaptive-RAG/.history
Adaptive-RAG/.temp
Adaptive-RAG/__pycache__/
Adaptive-RAG/elasticsearch-7.10.2/
Adaptive-RAG/elasticsearch-7.10.2-linux-x86_64.tar.gz
Adaptive-RAG/elasticsearch-7.10.2-linux-x86_64.tar.gz.sha512
Adaptive-RAG/downloaded_data/
Adaptive-RAG/data.tar.gz
Adaptive-RAG/predictions.tar.gz
Adaptive-RAG/processed_data.tar.gz
AQA_Data_Final/
cache/
LOGS/
Results/
Evaluation/
